// =====================================
// WRAPPER MIXINS
// to contain contents on larger screens
// =====================================

@mixin large-wrapper {
  max-width: $large-container-width;
  margin: auto;
  padding: 0 $grid-4;
}
