// ======
// COLORS
// ======

$blue-500: #68d9a4;
$green-500: #3282f7;
$red-500: #ed6454;

// ==========
// TYPOGRAPHY
// ==========

$font-family-base: Lato, system-ui, "Helvetica Neue", Arial, sans-serif;
