.p-search-bar {
  display: flex;

  border-radius: $grid-sm;
  overflow: hidden;

  background: $neutral-200;

  input {
    width: calc(100% - 5rem);
    padding: $grid-3 $grid-4;
    border: none;

    background: $neutral-200;

    &::placeholder {
      color: $neutral-600;
    }
  }

  button {
    padding: 1.2 * $grid-2 $grid-2;
    border: none;

    background: $neutral-200;
  }

  i {
    font-size: 2rem;
  }
}

.p-badges-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.p-filters-wrapper {
  display: flex;
  flex-wrap: wrap;

  .p-select-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    width: 11rem;
    margin: 0 $grid-2 $grid-1 0;

    border-radius: $grid-sm;

    color: white;
    font-size: $h5-size;

    cursor: pointer;

    &__label {
      display: flex;
      justify-content: space-between;

      padding: $grid-2;

      @media (min-width: $small-breakpoint) {
        padding: $grid-3 $grid-2;
      }
    }

    input {
      display: none;

      padding: $grid-2 0;
      border: none;

      color: white;
      font-size: $h5-size;
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      top: 4rem;
      left: 0;
      z-index: $z-dropdown;

      width: 60rem;
      padding: $grid-1 0;
      border-radius: $grid-sm;;

      li {
        width: 12rem;
        padding: $grid-1 $grid-2;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &--info {
      background: $info-500;

      .p-select-filter__label:hover {
        background: darken($info-500, 10);
      }

      input {
        background: $info-500;

        &::placeholder {
          color: lighten($info-500, 30);
        }
      }

      ul {
        background: $info-500;

        li:hover {
          background: darken($info-500, 10);
        }
      }
    }

    &--success {
      background: $success-500;

      &:hover {
        background: darken($success-500, 12);
      }
    }

    &--danger {
      background: $danger-500;

      &:hover {
        background: darken($danger-500, 8);
      }
    }
  }
}
