$filters-transition-duration: 150ms;

.p-search-bar {
  display: flex;

  border-radius: $grid-sm;
  overflow: hidden;

  background: $neutral-200;

  input {
    width: calc(100% - 5rem);
    padding: 0 0 0 $grid-2;
    border: none;
    outline: none;

    background: $neutral-200;

    &::placeholder {
      color: $neutral-600;
    }

    @media (min-width: $small-breakpoint) {
      padding: $grid-3 $grid-4;
    }
  }

  i {
    padding: 1.2 * $grid-2 $grid-2;
    border: none;

    font-size: $grid-3;

    background: $neutral-200;
  }
}

.p-badges-wrapper,
.p-filter-badges-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.p-badges-wrapper {
  margin: 1.5 * $grid-1 0;
}

.p-filters-wrapper {
  display: flex;
  flex-wrap: wrap;

  .p-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    margin: 0 $grid-2 $grid-1 0;
    border-radius: $grid-sm;

    color: white;
    font-size: $h5-size;

    label {
      display: flex;
      justify-content: space-between;

      width: 11 * $grid-2;
      padding: $grid-2;
      border-radius: $grid-sm;

      cursor: pointer;

      transition: width $filters-transition-duration;

      input {
        display: none;

        width: 0;
        border: none;
        border-radius: $grid-sm;
        outline: none;

        color: white;
        font-size: $h5-size;

        transition: width $filters-transition-duration;
      }

      i {
        display: inline-block;

        margin: $grid-sm 0 0 $grid-2;
      }

      @media (min-width: $small-breakpoint) {
        padding: $grid-3 $grid-2;
      }

      &.clicked {
        width: 17 * $grid-2;
        padding: $grid-1;

        span {
          display: none;
        }

        input {
          display: inline-block;

          width: 13.5 * $grid-2;
          padding: $grid-1;
        }

        i {
          margin: $grid-1 $grid-1 $grid-1 $grid-2;
        }

        @media (min-width: $small-breakpoint) {
          width: 24 * $grid-2;
          padding: $grid-2 $grid-1;

          input {
            padding: $grid-1;
          }
        }

        @media (min-width: $medium-breakpoint) {
          width: 36 * $grid-2;
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      position: absolute;
      top: 3.25 * $grid-2;
      left: 0;
      z-index: $z-dropdown;

      height: auto;
      width: 100%;
      border-radius: $grid-sm;
      overflow: hidden;

      opacity: 1;

      transition: opacity $filters-transition-duration;

      li {
        width: 17 * $grid-2;
        padding: $grid-1 $grid-2;
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;

        transition: width $filters-transition-duration - 100ms;
      }

      li {
        width: 17 * $grid-2;
      }

      &.closed {
        display: hidden;

        height: 0;

        opacity: 0;

        li {
          width: 0;
        }
      }

      @media (min-width: $small-breakpoint) {
        top: 4.25 * $grid-2;

        li {
          width: 12 * $grid-2;
        }
      }
    }

    &--ingredient {
      background: $info-500;

      label:not(.clicked):hover {
        background: darken($info-500, 10);
      }

      input {
        background: $info-500;

        &::placeholder {
          color: lighten($info-500, 25);
        }
      }

      ul {
        background: $info-500;

        li:hover {
          background: darken($info-500, 10);
        }
      }
    }

    &--appliance {
      background: $success-500;

      label:not(.clicked):hover {
        background: darken($success-500, 12);
      }

      input {
        background: $success-500;

        &::placeholder {
          color: lighten($success-500, 25);
        }
      }

      ul {
        background: $success-500;

        li:hover {
          background: darken($success-500, 12);
        }
      }
    }

    &--ustensil {
      background: $danger-500;

      label:not(.clicked):hover {
        background: darken($danger-500, 8);
      }

      input {
        background: $danger-500;

        &::placeholder {
          color: lighten($danger-500, 20);
        }
      }

      ul {
        background: $danger-500;

        li:hover {
          background: darken($danger-500, 8);
        }
      }
    }
  }
}
