/* ===========
   RECIPE CARD
   =========== */

.c-card {
  border-radius: $grid-sm;
  overflow: hidden;

  margin: 0 0 $grid-6 0;

  opacity: 0;
}

@for $i from 0 to 50 {
  [data-card-id="#{$i}"] {
    animation: fade-in 500ms ease-out 50ms * $i forwards;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-$grid-2);
  }
  25% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.c-card__img {
  height: 11 * $grid-2;

  background: $neutral-400;
}

.c-card__body {
  position: relative;

  height: 14 * $grid-2;
  padding: $grid-2 $grid-3;
  overflow: hidden;

  background: $neutral-200;

  .c-card__title {
    display: flex;
    justify-content: space-between;

    margin: 0 0 $grid-2 0;

    font-size: $h5-size;

    .name {
      display: -webkit-box;

      overflow: hidden;

      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .duration {
      min-width: 6 * $grid-2;
      margin-left: $grid-2;
    }
  }

  .c-card__ingredients,
  .c-card__description {
    overflow: hidden;
  }

  p {
    display: -webkit-box;

    margin: $grid-xs 0;
    overflow: hidden;

    font-size: $sm-size;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: $neutral-200;

    content: "";
  }

  &::before {
    height: $grid-5;

    filter: blur($grid-1);
  }

  &::after {
    height: $grid-3;
  }
}
