.c-message {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin: $grid-2 0;
  padding: $grid-2;
  border-radius: $grid-sm;
  overflow: hidden;

  font-size: $h5-size;

  transform: scaleY(0);

  transition: transform 300ms;

  &.opened {
    height: auto;
    margin: $grid-2 0;

    transform: scaleY(1);
  }

  i {
    margin-left: $grid-2;

    cursor: pointer;
  }

  &--info {
    color: $info-900;

    background: $info-100;
  }

  &--warning {
    color: $warning-900;

    background: $warning-100;
  }
}
