/* =====================================
   COMBOS BACKGROUND & TYPOGRAPHY COLORS
   ===================================== */

.bgtxt-info {
  color: white;

  background: $info-500;
}

.bgtxt-success {
  color: white;

  background: $success-500;
}

.bgtxt-danger {
  color: white;

  background: $danger-500;
}
