$spacings: (
  "0": "0",
  "xs": $grid-xs,
  "sm": $grid-sm,
  "1": $grid-1,
  "2": $grid-2,
  "3": $grid-3,
  "4": $grid-4,
  "5": $grid-5,
  "6": $grid-6,
  "7": $grid-7,
  "8": $grid-8,
);

/* =======
   MARGINS
   ======= */

.m-auto {
  margin: auto;
}

@each $step, $spacing in $spacings {
  .m-#{$step} {
    margin: #{$spacing};
  }

  .mh-#{$step} {
    margin-top: #{$spacing};
    margin-bottom: #{$spacing};
  }

  .mw-#{$step} {
    margin-left: #{$spacing};
    margin-right: #{$spacing};
  }

  .mt-#{$step} {
    margin-top: #{$spacing};
  }

  .mr-#{$step} {
    margin-right: #{$spacing};
  }

  .mb-#{$step} {
    margin-bottom: #{$spacing};
  }

  .ml-#{$step} {
    margin-left: #{$spacing};
  }
}

/* ========
   PADDINGS
   ======== */

@each $step, $spacing in $spacings {
  .p-#{$step} {
    padding: #{$spacing};
  }

  .ph-#{$step} {
    padding-top: #{$spacing};
    padding-bottom: #{$spacing};
  }

  .pw-#{$step} {
    padding-left: #{$spacing};
    padding-right: #{$spacing};
  }

  .pt-#{$step} {
    padding-top: #{$spacing};
  }

  .pr-#{$step} {
    padding-right: #{$spacing};
  }

  .pb-#{$step} {
    padding-bottom: #{$spacing};
  }

  .pl-#{$step} {
    padding-left: #{$spacing};
  }
}
